.popular-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-color: #1035a2; /* que podemos hacer para que no sea un fondo liso?*/
  } 
  
  .popular-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 50px;
    font-family: 'Baloo 2', cursive; 
  }

  .tituloSeccion{
    align-items: left;
    color: white;
    font-family: 'Baloo 2', cursive; 
  }