.boton-fav button {
    background: transparent;
    color:#FFD700; 
    border: none; 
    cursor: pointer; 
    font-size: 35px
  }
  .boton-fav button :hover {
    color:#ffbb00; 
  }

  @media only screen and (max-width: 420px) {
    .boton-fav button {
        font-size: 28px;
    }
}